.chat-space__chat[chat]
  .chat-space__chat__username
    = chat.user.name
  .chat-space__chat__dateandtime
    = chat.updated_at
  .chat-space__chat__message
    = chat.text
    = image_tag chat.image.to_s, size: "100x100"
