%head
  .side-menu
    .side-menu__username-area
      .side-menu__username-area__username
        username
      .side-menu__username-area__fontawesome
        fontawesome

    = render "groups"
    = render "groups"
    = render "groups"

  .group-edit
    .group-edit__edit-botton
      edit-botton
    .group-edit__selected-group-name
      selectedgroupname
    .group-edit__members
      Menbers: test test test






/ %p#notice= notice
/ %h1 Chats
/ %table
/   %thead
/     %tr
/       %th{:colspan => "3"}
/   %tbody
/     - @chats.each do |chat|
/       %tr
/         %td= link_to 'Show', chat
/         %td= link_to 'Edit', edit_chat_path(chat)
/         %td= link_to 'Destroy', chat, method: :delete, data: { confirm: 'Are you sure?' }
/ %br/
/ = link_to 'New Chat', new_chat_path
