$(function(){
  function buildHTML(chat){
    var html = `<div class="chat-space__chat">
                  <div class="chat-space__chat__username">
                    ${ chat.name }
                  </div>
                  <div class="chat-space__chat__dateandtime">
                    ${ chat.updated_at }
                  </div>
                  <div class="chat-space__chat__message">
                    ${ chat.text }
                    image_tag ${ chat.image.to_s }, size: "100x100"
                  </div>
                </div>`
    return html;
  }
  $('#messages').on('submit', function(e){
    e.preventDefault();
    var formData = new FormData(this);
    var url = $(this).attr('action');
    console.log(url);
    $.ajax({
      url: url,
      type: "POST",
      data: formData,
      dataType: 'json',
      processData: false,
      contentType: false
    })
    .done(function(data){
      console.log(data);
      $('.chat-space__chat').append(111);
      $('text_area').val('');
    })
  })
})


